html {
    zoom: 80%;
  }
  
  body {
    margin: 0;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .cards {
    border: 1px solid #E2E7E9 !important;
    border-radius: 10px !important;
  
    .cards__title {
      font: $font-weight 600 15px/17px $font-family;
      color: #555555;
      @include align;
    }
  }
  
  .card__image-button {
    position: absolute;
    left: 0;
    width: 70px;
    height: 70px;
    margin: 80px;
    border-radius: 50% !important;
    font-size: 30px !important;
  }
  
  .card__image {
    position: relative;
    display: inline-block;
    text-align: center;
  }